<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/header') %> 
  </head>
  <body>
    <div class="container" style="width: 50%; margin-top:100px;">
       
            <h3>This email address is already registered!</h3>
            <a href="/">Please try again</a>
      
    </div>
  </body>
</html>