<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/header') %> 
  </head>
  <body>
    <div class="container" style="width: 50%; margin-top:100px;">
            <h3>The username or password does not exist.</h3>
            <a href="/">Please try again</a>
    </div>
  </body>
</html>