<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/header') %>
    
</head>
  <body>
    <div class="container" style="width: 50%; margin-top:100px;">
      <h2>Existing User Login</h2>
  
      <form method="POST" action="/dashboard">
        <div class="form-outline mb-4">
          <input type="email" id="email" name="email" class="form-control" />
          <label class="form-label" for="email">Email address</label>
        </div>
        <div class="form-outline mb-4">
          <input type="password" id="password" name="password" class="form-control" />
          <label class="form-label" for="password">Password</label>
        </div>
        
        <div class="row mb-4">
           
          <div class="col d-flex justify-content-center">
            <div>
                <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
            </div>
          </div>
         <!--
          <div class="col d-flex justify-content-center">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
              <label class="form-check-label" for="form2Example31"> Remember me </label>
            </div>
            
          </div>
         
      
          <div class="col">
           
            <a href="#!">Forgot password?</a>
          </div>

        -->
      
    
      
        <!-- Register buttons -->
       
        <div class="text-center">
          <p>Not an existing user? <a href="/register">Register</a></p>
         
         <!-- <p>or sign up with:</p>

          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fa fa-google"></i>
          </button>
        -->
        </div>
      </form>
    </div>
  </body>
</html>